body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3041c7;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: white;
}
.title{
  background-color: white;
}
/*
.wobble{
  background-height: 100;
  background-width: 100;
  background-image: url("http://emojipedia-us.s3.amazonaws.com/cache/8b/af/8bafcefa2b25ab3642b2d5cbdb9a804a.png");
}*/

.wobble { 
  height: 110px;
  width: 75px;
  position:absolute;
  background-image: url("blinkydancer.png");
}

.rotateInUpLeft {
  height: 110px;
  width: 75px;
  position:absolute;
  background-image: url("balletdancer.jpg");
}

.bounce {
  height: 110px;
  width: 75px;
  position:absolute;
  background-image: url("hiphopdancer.png");
}

.lineLeft {
  float: left;
  position: static;
  

}

.lineRight {
  float: right;
  position: static;
}

.lineBottom {
  float: left;
  position: static;
 }
